.title-pink {
  color: rgb(236, 77, 164);
  font-weight: 700;
}

.hero-background {
  background-image: url(../public/images/hero.jpg);
  height: 77vh;
  width: 100%;
  margin-top: 12px;
  background-size: cover;
  background-position-y: 30%;
}

@media only screen and (max-width: 600px) {
  .hero-background {
    background-position-x: 30%;
    height: 70vh;
    margin-top: 0;
  }
}
