.title-pink {
  color: rgb(236, 77, 164);
  font-weight: 700;
}

.hero-background {
  background-image: url(../public/images/hero.jpg);
  height: 77vh;
  width: 100%;
  margin-top: 12px;
  background-size: cover;
  background-position-y: 30%;
}

.main-margin {
  margin-top: 8rem;
}

.welcome-title {
  font-size: 4.3rem;
  color: rgb(236, 77, 164);
  font-weight: 600;
}

.welcome-subtext {
  font-size: 1.8rem;
  font-weight: 300;
}

.button-text {
  background-color: rgb(236, 77, 164);
}

.hero-margin {
  margin-top: 9rem;
}

@media only screen and (max-width: 600px) {
  .hero-background {
    background-position-x: 30%;
    height: 70vh;
    margin-top: 0;
  }

  .hero-margin {
    margin-top: 0;
  }

  .main-margin {
    margin-top: 4rem;
  }

  .welcome-title {
    font-size: 2.8rem;
  }

  .welcome-subtext {
    font-size: 1.4rem;
  }
}
